h4 {
font-family: 'Roboto', cursive;
}

h1{
  font-family: 'Bungee Outline', serif;
}

h2 {
  font-family: 'Andika New Basic', cursive;
}

p {font-family: 'Bungee Outline', cursive;  
  }
  
  #2e
  {
	  font-size: 120%;
  }